// These things are solely designed for the purpose of doing a specific task, like centering text

.u-center-text{
    text-align: center;
}

.u-margin-bottom-big{
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;

    @include respond(tab-port){
        padding-top: 20rem !important;
        padding-bottom: 0rem !important;
    }
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;

    @include respond(tab-port){
        padding-top: 20rem !important;
        padding-bottom: 0rem !important;
    }
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}
